---
import * as MeteorIcons from '@meteor-icons/astro'
import IconSkeleton from './IconSkeleton.astro'
import TabsFramework from './TabsFramework.astro'
import IconUsageExamples from './IconUsageExamples.astro'
import IconSettings from './IconSettings.astro'
import IconActions from './IconActions.astro'
import { toPascalCase } from '../utils/stringCase'

type IconData = {
  name: string
  title?: string
  categories: string[]
  tags: string[]
  keywords?: string[]
}

type Props = {
  icon: IconData
  slug: string
}

const { icon, slug } = Astro.props as Props

const title = icon.title ?? icon.name
const name = icon.name
const componentName = toPascalCase(icon.name)
const htmlCode = `<i data-i="${slug}"></i>`
const IconComponent = MeteorIcons[componentName as keyof typeof MeteorIcons]
---

<div class="wrapper py-10 md:py-18" data-icon-detail>
  <section data-name={icon.name}>
    <div class="flex justify-between lg:flex-row flex-col gap-10">
      <div class="flex flex-col gap-5 flex-1">
        <div class="flex items-center gap-2 flex-wrap capitalize">
          <span class="text-slate-900 font-medium">{icon.categories.join(" · ")}</span>
          <span class="text-slate-300">/</span>
          <span class="text-slate-500">{icon.tags.join(" · ")}</span>
        </div>
        <div class="flex flex-col min-w-0 items-start gap-2">
          <button type="button" data-copy-name class="font-semibold text-slate-900 cursor-pointer hover:text-brand-active transition-colors duration-300 text-xl md:text-2xl lg:text-4xl" aria-label="Copy name" title="Copy name">{name}</button>
          <div class="flex items-center gap-1 *:text-slate-500 *:cursor-pointer *:transition-colors *:duration-300">
            <button class="hover:text-brand-active" type="button" data-copy-component-name="" aria-label="Copy component name" title="Copy component name">{componentName}</button>
            <span aria-hidden="true" class="sm:flex hidden">·</span>
            <button class="hover:text-brand-active sm:flex hidden" type="button" data-copy-html="" aria-label="Copy HTML" title="Copy HTML">
              {htmlCode}
            </button>
          </div>
        </div>
        <TabsFramework defaultFw="astro" iconName={icon.name} />
        <div class="flex items-center gap-2 relative">
          <IconActions size={24} />
          <button type="button" class="btn icon-action md:w-auto!" data-outside="settings" aria-label="Icon settings">
            <MeteorIcons.SlidersSimple />
          </button>
          <div class="right-0 w-72 dropdown z-50" data-dropdown="settings" role="dialog" aria-label="Icon settings">
            <IconSettings />
          </div>
        </div>
      </div>
      <IconSkeleton customClass="max-w-sm flex-shrink-0">
        <IconComponent />
      </IconSkeleton>
    </div>
  </section>
  <IconUsageExamples name={name} title={title} />
</div>

<script>
  import { initDropdown } from '../scripts/dropdown'
  import { initIconDetail } from '../scripts/iconDetail'
  const root = document.querySelector('[data-icon-detail]')

  function initIconDetailPage() {
    if (!(root instanceof HTMLElement)) return

    initIconDetail(root)

    const buttons = root.querySelectorAll('[data-outside]')
    const activeClass = 'dropdown-visible'

    buttons.forEach((button) => {
      if (button instanceof HTMLElement) {
        initDropdown(button, activeClass, root)
      }
    })
  }

  initIconDetailPage()
</script>
