---
import { getCollection } from 'astro:content'
import { Search, Grid, ChevronDown, SlidersSimple } from '@meteor-icons/astro'
import { capitalize } from '@shared/stringCase'
import IconSettings from '../icon-settings/IconSettings.astro'

interface Props {
  total: number,
  class?: string
}

const { total, class: className = '' } = Astro.props
const entries = await getCollection('icons')

const categoriesMap = new Map<string, { name: string; count: number }>()

entries.forEach(entry => {
  if (entry.data.categories) {
    entry.data.categories.forEach((category: string) => {
      if (!categoriesMap.has(category)) {
        categoriesMap.set(category, { name: category, count: 1 })
      } else {
        categoriesMap.get(category)!.count += 1
      }
    })
  }
})

const categories = Array.from(categoriesMap.values()).sort((a, b) => a.name.localeCompare(b.name))
---

<div
  class={`icon-filters ${className}`}
>

  <div class="relative select-none">
    <button class="btn md:w-50" data-outside="categories" aria-label="Filter by category">
      <span data-category-icon class="shrink-0">
        <Grid minimal class="ml-auto shrink-0 w-6 h-6" />
      </span>
      <span data-category-label class="truncate md:flex hidden">All Categories</span>
      <ChevronDown minimal class="ml-auto shrink-0 w-5 h-5" />
    </button>

    <div class="left-0 dropdown overflow-y-auto max-h-75 min-w-50 scrollbar w-full" data-dropdown="categories" aria-label="Categories">
      <div class="p-2">

        <button type="button" data-category="all" data-dropdown-close class="dropdown-item dropdown-item-active" aria-current="true">
          <span class="truncate">All categories</span>
        </button>

        {categories.map((category) => (
          <button type="button" data-category={category.name} data-dropdown-close class="dropdown-item" aria-current="false">
            <span class="truncate">{capitalize(category.name)}</span>
            <span class="ml-auto text-sm text-on-surface-disabled font-mono">
              {category.count}
            </span>
          </button>
        ))}

      </div>
    </div>
  </div>

  <input
    data-icon-search
    type="text"
    placeholder={`Search ${total} icons`}
    class="w-full outline-none bg-transparent py-3"
    aria-label="Search icons"
    autocomplete="off"
    spellcheck="false"
    name="icon-search"
  />

  <span class="pointer-events-none text-on-surface-disabled">
    <Search minimal />
  </span>

  <div class="relative select-none bg-surface-container rounded-lg flex h-12">
    <button class="btn" data-outside="settings" aria-label="Icon settings">
      <SlidersSimple minimal class="w-6 h-6" />
    </button>
    <div class="right-0 w-72 dropdown z-50" data-dropdown="settings" role="dialog" aria-label="Icon settings">
      <IconSettings minimal class="w-6 h-6" />
    </div>
  </div>
</div>
